<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Criando uma página web para controlar o led</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>
  <style media="screen">
  .app{
    margin-top: 60px;
  }
  </style>
</head>
<body>
</body>
<div class="container">
  <div class="row app">
    <p class="center">
      <img src="/static/dz.png" class="" style="width:10%" />
      <br>
      <strong>Douglas Zuqueto</strong>
    </p>
    <div class="col s12">
      <h4 class="center">Criando uma página web para controlar o led</h2>
        <br>
        <div class="center">
          <a class="waves-effect waves-light btn green disabled" id="btn-on">ON</a>
          <a class="waves-effect waves-light btn red disabled" id="btn-off">OFF</a>
        </div>
        <br>
        <h5 class="center">
          Confira o artigo clicando <a href="https://blog.dev/artigos/criando-uma-pagina-web-para-controlar-o-led" target="_blank">aqui</a>
        </h5>
      </div>
    </div>
  </div>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  <script src="/static/script.js" type="text/javascript"></script>
</body>
</html>
