<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <title>Douglas Zuqueto - Controle suas gpio através da internet</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js"
  type="text/javascript"></script>
  <style media="screen">
  .app {
    margin-top: 60px;
  }
  </style>
</head>
<body>
</body>
<div class="container">
  <div class=" app">
    <h4 class="center">Controle suas gpio através da internet</h4>
    <br>
    <form method="GET" action="#">
      <div class="row">
        <div class="input-field col s6">
          <input id="broker" type="text" class="validate">
          <label for="broker" class="active">Broker</label>
        </div>
        <div class="input-field col s6">
          <input id="port" type="text" class="validate">
          <label for="port" class="active">Port</label>
        </div>
      </div>
      <div class="input-field col s12">
        <input id="topic" type="text" class="validate">
        <label for="topic" class="active">Tópico</label>
      </div>
      <div class="row">
        <input class="btn green col s5" type="submit" id="save" name="save" value="Salvar">
        <input class="btn blue col s5 right" type="button" id="connect" name="connect" value="Conectar">
      </div>
    </form>
    <br>
    <br>
    <div class="col s12">

      <div class="center">
        <button class="waves-effect waves-light btn red btn-led" id="btn-off" disabled>OFF</button>
        <button class="waves-effect waves-light btn green btn-led" id="btn-on" disabled>ON</button>
      </div>
      <br>
      <h6 class="center">
        Artigo:
        <a href="https://douglaszuqueto.com/artigos/controle-suas-gpio-atraves-da-internet" target="_blank">
          "Controle suas gpio's através da internet"
        </a>
      </h6>
      <h6 class="center">
        Artigo:
        <a href="https://douglaszuqueto.com/artigos/esp8266-mqtt-e-iot" target="_blank">
          "Configurando o ESP8266 para trabalhar com MQTT"
        </a>
      </h6>
    </div>
    <p class="center">
      <br>
      <img src="/static/dz.png" class="" style="width:10%"/>
      <br>
      <strong>Douglas Zuqueto</strong>
    </p>
  </div>
</div>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
<script src="/static/script.js" type="text/javascript"></script>
</body>
</html>
